/*student css*/
body{
  background-color: #616091;
}
h1{
  text-align: center;
  color:chartreuse;
}

.student {
      margin: 25px;
      padding: .5 rem;
      justify-content: space-evenly;
      justify-content:center;
      display:grid;
      
}

.student h2 {
  color:brown;
  

}
.student h3 {
  color:blue;

}
.student .rollno {
       display: flex;

}
.student .name {
  
  display: flex;
       
}
.student .age {
  
  display: flex;
       
}
.student .branch {
  
  display: flex;
       
}
.student .hobbies {
  
  display: flex;
       
}






